[submodule "cookbook/java"]
	path = cookbook/java
	url = https://github.com/opscode-cookbooks/java.git
[submodule "cookbook/apt"]
	path = cookbook/apt
	url = https://github.com/opscode-cookbooks/apt.git
[submodule "cookbook/hostsfile"]
	path = cookbook/hostsfile
	url = https://github.com/customink-webops/hostsfile.git
[submodule "cookbook/ntp"]
	path = cookbook/ntp
	url = https://github.com/gmiranda23/ntp.git
