# Example config file - edit to your taste.

jclouds {
  # Time to wait for scripting to complete (seconds)
  script-complete = 600
}

ssl {
  certs = "/path/to/.ssh"
}

chef {
  url = "Chef Server URL"
  user {
    name = "Chef Server Username"
    pem = "Fullpath to Chef PEM file"
  }
  validation {
    client_name = "Chef Client Name"
    pem = "Fullpath to Chef Validation PEM file"
  }
}

rackspace {
  region = "uk"
  username = "Rackspace username"
  apikey = "Rackspace API key"
}

aws-ec2 {
  id = "Amazon Web Services Access Key ID"
  apikey = "Amazon Web Services Secret Access Key"
}
